

.contenedor {
    width: 1200px;
    height: 400px;
    border: 1px solid #110202;
    position: relative;
    background-image: url('/Imagenes/1.png');
}

.circulo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    background-color: transparent;
}

.cuadro {
    width: 30px;
    height: 30px;
    position: absolute;
    border: 1px solid black;
}

#puntaje {
    position: fixed;
    top: 40px;
    right: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#modos {
    position: fixed;
    top: 200px;
    right: 30px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#Iniciar {
    position: fixed;
    top: 500px;
    right: 800px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;


}

